apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: application-directory
spec:
  destination: # Where the application is deployed
    namespace: directory
    server: https://kubernetes.default.svc
  project: default
  source:
    directory:
      # exclude: 'serviceaccount.yaml' # Excludes the file from beeing deployed
      # include: 'serviceaccount.yaml' # Only deploys the serviceaccount.yaml file.
      include: '{serviceaccount.yaml,service.yaml}' # Deploys only this 2 yaml files.
      recurse: true # This deploys all yaml files that are in subdirectories of the path (03-argocd-applications/directoryofmanifests)
    path: 03-argocd-applications/directoryofmanifests
    repoURL: https://github.com/rdumitru1/argocd-tutorial.git
    targetRevision: main
